@font-face {
    font-family: 'RopaSans';
    src: url(./assets/fonts/RopaSans-Regular.ttf) format("truetype");
}
@import url(../reset.css);

/* General */
body {
    font-family: "Montserrat", sans-serif;  
    font-size: 1em;
}

.blue-text{
    color: #73A6B1;
}

/* header */

.header-container{
    display: flex;
    align-items: center;
    padding: 2.2em 3.94em;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}

.logo {

}

.menu-list{
    display: flex;
    align-items: center;
}

.menu-item{
    margin-left: 3.1em;
}

.blue-button{
    text-transform: uppercase;
    background-color: rgb(122, 229, 253);
    padding: 1.15em 1.19em;
    border-radius: 4.83rem;
    margin-left: 1.3em;
}


/* first-screen */

.first-screen{
    background-image: url('./assets/images/Frame\ 12146\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 17vh;
}

.first-screen-container{
    width: 40%;
}

.main-title {
    color: white;
    font-weight: 800;
    font-size: 4.06em;
    line-height: 1;
    margin-left: 1em;
}

.main-description {
    margin: 1em 4em;
}

.white-button{
    background-color: white;
    margin-left: 4.5em;
}

/* description block */

.description-screen {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-title {
    height: 12.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.descr-header{
    width: 29.2em;
    text-transform: uppercase;
    font-size: 2em;
}

.descr-sub-header{
    font-size: large;
}

.descr-text{
    width: 35em;
}

/* Two blocks section */

.description-block{
    display: flex;
    flex-direction: row;
    background-color: #f1fdff;
    padding: 2vh 3vw; 
}

.block-img{
    max-width: 40vw;
}

@media screen and (max-width: 500px) {
    body{ background-color: grey;
    }

    .description-block{
    flex-direction: column;
    }
}